
.route-body {
    /* top-1rem else 2.5 rem */
    padding: 1rem 2rem 2rem 2rem;
    /* background-color: blue; */
    flex: 1;
}


.auth-wrapper {
    text-align: center;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.auth-inner {
    width: 100%;
    max-width: 400px;
    padding: 2rem;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    margin-top: 0.5rem;
}

.not-found {
    text-align: center;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.user-data-header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.loading-body {
    border-radius: 10px;
    background-color: white;
    padding : 10px 20px 5px 20px;
}